body {
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.table-striped thead tr {
    background-color: #1d5dd2 !important;
    color: white;
}

.shopping-cart #quantity {
    width: 30%;
    border: 1px solid #808080;
    text-align: center;
}

.shopping-cart .delete-shopping {
    color: black;
    text-decoration: none;
}

.shopping-cart .delete-shopping:hover {
    color: orange;
    text-decoration: underline;
}

.continue-shopping {
    text-decoration: none;
    background-color: #1d5dd2;
    padding: 12px 12px 10px 12px;
    color: white;
}

.update-shopping {
    background-color: #1d5dd2;
    padding: 12px 12px 10px 12px;
    color: white;
    text-decoration: none;
}


